$bg: #141b20;
$spacing: 0.5rem;

@mixin container {
  position: fixed;

  padding: 0.8rem;
  background: lighten($bg, 4);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#toolbar {
  @include container;

  left: $spacing;
  right: $spacing;
  top: $spacing;

  button {
    background: lighten($bg, 12);
    color: lighten($bg, 90);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 0.4rem 0.6rem;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: lighten($bg, 14);
    }

    &:active {
      transform: scale(0.98);
    }

    &.active {
      background: lighten(saturate($bg, 100), 30);
    }
  }
}

#inputBar {
  @include container;

  left: $spacing;
  right: $spacing;
  bottom: $spacing;

  .inputContainer {
    color: white;
    font-weight: bold;
    display: flex;
    justify-items: center;
    align-items: center;

    &:not(:last-child) {
      border-right: 1px solid lighten($bg, 50);
      padding-right: 1rem;
    }

    label {
      margin-left: 0.4rem;
      font-size: 0.9rem;
    }

    input {
      border-radius: 0.1rem;
    }

    input[type='number'] {
      width: 2rem;
      padding: 0.24rem;
    }
  }
}
